{% extends "Base.html" %}

{% block title %}
Counter
{% endblock title %}


{% block main %}

<div class="mb-3">
    <b id="counter">
        {% if hasattr(player, "counter") %}
        {{ player.counter }}
        {% else %}
        ???
        {% endif %}
    </b>
</div>

<div class="mb-3">
    <button type="button" class="btn btn btn-primary" onclick="increment()">Increment</button>
    <button type="button" class="btn btn btn-danger" onclick="delete_()">Delete</button>
</div>

<script>
    const counter = document.querySelector("#counter");

    function increment() {
        uproot.invoke("increment").then((newValue) => {
            counter.textContent = newValue;
        });
    }

    function delete_() {
        uproot.invoke("delete").then((newValue) => {
            counter.textContent = "???";
        });
    }
</script>

{% endblock main %}
