{% extends "Base.html" %}

{% block title %}
Stroop Test Instructions
{% endblock title %}


{% block main %}

<p>In this task, you will see color words (like Red, Blue, Green, Yellow) and filled circles (&bull;) displayed in different font colors.</p>

<p><strong>Your task:</strong> Identify the <em>color</em> of the circle or the <em>font color</em> of the word, respectively—<em>not</em> the word itself.</p>

<div class="alert alert-light bg-body-secondary bg-opacity-25 callout">
    <h5 class="mb-3">Examples</h5>
    <p class="text-black">
        <b class="d-inline-block fs-4" style="color: green; width: 2em"><span style="font-size: 115%;">&bull;</span></b>
        <span class="text-body-tertiary">&rarr;</span>
        Correct answer: <em>Green</em> (color of the circle)
    </p>
    <p class="text-black">
        <b class="d-inline-block fs-4" style="color: red; width: 2em">Red</b>
        <span class="text-body-tertiary">&rarr;</span>
        Correct answer: <em>Red</em> (word and color match)
    </p>
    <p class="mb-0 text-black">
        <b class="d-inline-block fs-4" style="color: blue; width: 2em">Red</b>
        <span class="text-body-tertiary">&rarr;</span>
        Correct answer: <em>Blue</em> (ignore the word, focus on the font color)
    </p>
</div>

<p>Located around the word, you will see several buttons with color names.</p>

<p>A correct response is made by pressing the button that names the color of the circle or font color of the word, respectively.</p>

<div class="alert alert-light bg-body-secondary bg-opacity-25 callout">
    <h5 class="mb-3">Examples</h5>
    <p class="text-black my-4">
        <span class="btn btn-outline-dark me-2" style="width: 5em;">Yellow</span>
        <span class="btn btn-outline-dark me-2" style="width: 5em;">Red</span>
        <span class="btn btn-outline-dark me-2" style="width: 5em;">Blue</span>
        <span class="btn btn-outline-dark" style="width: 5em;" type="button">Green</span>
    </p>
    <p class="text-black">
        <b class="d-inline-block fs-4" style="color: green; width: 2em"><span style="font-size: 115%;">&bull;</span></b>
        <span class="text-body-tertiary">&rarr;</span>
        The correct response is pressing the <span class="btn btn-outline-dark btn-sm mx-1" style="width: 5em;">Green</span> button, since the circle is displayed in green.
    </p>
    <p class="text-black">
        <b class="d-inline-block fs-4" style="color: red; width: 2em;">Red</b>
        <span class="text-body-tertiary">&rarr;</span>
        The correct response is pressing the <span class="btn btn-outline-dark btn-sm mx-1" style="width: 5em;">Red</span> button, since the word is displayed in red.
    </p>
    <p class="mb-0 text-black">
        <b class="d-inline-block fs-4" style="color: blue; width: 2em;">Red</b>
        <span class="text-body-tertiary">&rarr;</span>
        The correct response is pressing the <span class="btn btn-outline-dark btn-sm mx-1" style="width: 5em;">Blue</span> button, since the word is displayed in blue.
    </p>
</div>

<p>Respond as <strong>quickly</strong> and <strong>accurately</strong> as possible.</p>

{% endblock main %}


{% block main3 %}

<div class="mt-5 text-body-tertiary">
    <h4 class="fw-semibold">Remarks for experimenters regarding the implementation</h4>
    <ul>
        <li>The test includes a neutral (non-word) condition (filled circles: &bull;) as a baseline and to screen for color blindness.</li>
        <li>Each trial starts with pressing a “Next” button. The response buttons are placed in approximately equal distance around the position of this “Next” button so that each response button is approximately equally easy to reach.</li>
        <li>With each trial, the meaning of the response buttons changes randomly. This is to prevent learning of the buttons’ locations. Such learning might speed up responses over time, and a time trend may pose problems for statistical analysis, in particular, with relatively few iterations. (For instance, when there are more congruent trials towards the end, a Stroop effect in the response times would be overestimated if responses become faster towards the end as a result of learning.)</li>
        <li>The response buttons must be sufficiently easy to hit. That is, they must not be too far from the center (the “Next” button), and they must be sufficiently large. This is because otherwise, participants will need so much time to respond that they start deliberating while responding, thereby potentially wiping out any Stroop (word interference) effect.</li>
        <li>The font sizes and the size of the response buttons adapt to the viewport height and width to make the test universally usable across a wide range of screen sizes and aspect ratios.</li>
        <li>The share of congruent trials among all trials is drawn randomly (by default, between 40% and 60%). This is because a fixed share may enable participants to anticipate the type of the upcoming iteration(s). (Say, if I knew that there were 10 trials of which exactly 50% are congruent, then I could anticipate all remaining trials to be incongruent, once I have completed 5 congruent trials.)</li>
    </ul>
</div>

{% endblock main3 %}