{% extends "Base.html" %}

{% block title %}
Traveller’s Dilemma
{% endblock title %}


{% block main %}

<p>You and another traveller have each lost identical items. The airline has asked you both to independently claim a value between <b>{{ C.MIN_CLAIM }}</b> and <b>{{ C.MAX_CLAIM }}</b>.</p>

<p>The airline will pay both of you the <b>lower</b> of the two claims. However:</p>

<ul>
    <li>If your claim is <b>lower</b>, you receive a bonus of <b>+{{ C.BONUS }}</b></li>
    <li>If your claim is <b>higher</b>, you receive a penalty of <b>&minus;{{ C.BONUS }}</b></li>
    <li>If both claims are <b>equal</b>, you both receive that amount with no adjustment</li>
</ul>

{{ fields() }}

{% endblock main %}
