anthropic
audioop-lts
black
find-eq @ git+https://github.com/mrpg/find-eq.git@master
isort
mini-exchange @ git+https://github.com/mrpg/mini-exchange.git@master
pillow==12.2.0
pre-commit
pydub
ruff
schwifty
uproot-science @ git+https://github.com/mrpg/uproot.git@main
