{% extends "Base.html" %}

{% block title %}
Captcha
{% endblock title %}


{% block head %}

<script>
uproot.onReady(() => {
    uproot.api2("captcha").then(r => r.blob()).then(blob => {
        I("captchaImage").src = URL.createObjectURL(blob);
    });
});
</script>

{% endblock head %}


{% block main %}

<p>
    This page loads a player-specific captcha image via <code>uproot.api2()</code>,
    which authenticates the request automatically.
</p>

<div class="mb-4">
    <img
        id="captchaImage"
        src=""
        width="{{ C.IMAGE_WIDTH }}"
        height="{{ C.IMAGE_HEIGHT }}"
        class="border rounded"
        alt="Captcha image"
        {% if _uproot_simulate %}data-captcha-answer="{{ player.captcha_code }}"{% endif %}
    >
</div>

{{ field(form.captcha_answer) }}

{% if player.captcha_attempts %}
<p class="text-body-tertiary">
    Invalid attempts so far: <b>{{ player.captcha_attempts }}</b>
</p>
{% endif %}

{% endblock main %}
