{% extends "Base.html" %}

{% block title %}
Please check your data
{% endblock title %}


{% block main %}

<p>Is the following information correct? If not, please click “Back” and correct the data.</p>

<table class="table mb-5">
    <tbody>
        <tr>
            <th scope="row">{{ app.LABELS.age }}</th>
            <td class="w-50">{{ player.age }}</td>
        </tr>
        <tr>
            <th scope="row">{{ app.LABELS.econ }}</th>
            <td>{{ "Yes" if player.econ else "No" }}</td>
        </tr>
        <tr>
            <th scope="row">{{ app.LABELS.sport }}</th>
            <td>{{ player.sport if player.sport is not none else "N/A" }}</td>
        </tr>
    </tbody>
</table>

{% endblock main %}
