{% extends "Base.html" %}


{% block head %}

<style>
  .uproot-error {
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
  }
  .uproot-error input,
  .uproot-error .input-group-text {
    border-color: var(--bs-danger) !important;
  }
  .uproot-main-error {
    display: none;
  }
  .mt-n3 {
    margin-top: -1rem !important;
  }
</style>

{% endblock head %}



{% block title %}

Input validation and feedback with bells and whistles

{% endblock title %}


{% block main %}

<div {% if _uproot_errors and _uproot_errors != [] %}class="bg-danger-subtle border-5 border-danger border-start pb-1 ps-4 pt-1 uproot-error"{% endif %}>
    {{ field(form.share_safe_asset) }}
    {% if _uproot_errors and _uproot_errors != [] %}
    <p class="invalid-feedback d-block font-sans-serif mt-n3">{{ _uproot_errors[0] | default("") }}</p>
    {% endif %}
</div>

<div {% if _uproot_errors and _uproot_errors != [] %}class="bg-danger-subtle border-5 border-danger border-start pb-1 ps-4 pt-1 uproot-error"{% endif %}>
    {{ field(form.share_risky_asset) }}
    {% if _uproot_errors and _uproot_errors != [] %}
    <p class="invalid-feedback d-block font-sans-serif mt-n3">{{ _uproot_errors[1] | default("") }}</p>
    {% endif %}
</div>

<p class="text-primary">To test the validation and feedback mechanism, enter numbers that do not sum to 100.</p>

<p class="text-body-tertiary">Invalid attempts so far: {{ player.input_errors }}.</span>

{% endblock main %}
