{% extends "Base.html" %}

{% block title %}
Return
{% endblock title %}


{% block main %}

<p>You have an endowment of <b>{{ C.ENDOWMENT | fmtnum(pre="$", places=2) }}</b>.</p>
<p>The other player sent you an amount that was multiplied to <b>{{ player.context.received | fmtnum(pre="$", places=2) }}</b>.</p>
<p>You can return any amount between {{ 0 | fmtnum(pre="$", places=2) }} and {{ player.context.received | fmtnum(pre="$", places=2) }} to the other player.</p>

{{ fields() }}

{% endblock main %}
