{% if player.buyer %}
<p>You are a <b>buyer</b> with valuation <b>{{ player.cost_or_value | fmtnum(pre="$", places=2) }}</b>.</p>
{% if buyer_tax %}
<p>In this round, you must pay a tax of <b>{{ buyer_tax | fmtnum(pre="$", places=2) }}</b> per unit traded.</p>
<p>Your profit will be: <b>Valuation &minus; Price &minus; Tax = {{ player.cost_or_value | fmtnum(pre="$", places=2) }} &minus; Price &minus; {{ buyer_tax | fmtnum(pre="$", places=2) }}</b>.</p>
{% else %}
<p>There is no tax in this round.</p>
<p>Your profit will be: <b>Valuation &minus; Price = {{ player.cost_or_value | fmtnum(pre="$", places=2) }} &minus; Price</b>.</p>
{% endif %}
{% else %}
<p>You are a <b>seller</b> with cost <b>{{ player.cost_or_value | fmtnum(pre="$", places=2) }}</b>.</p>
{% if seller_tax %}
<p>In this round, you must pay a tax of <b>{{ seller_tax | fmtnum(pre="$", places=2) }}</b> per unit traded.</p>
<p>Your profit will be: <b>Price &minus; Cost &minus; Tax = Price &minus; {{ player.cost_or_value | fmtnum(pre="$", places=2) }} &minus; {{ seller_tax | fmtnum(pre="$", places=2) }}</b>.</p>
{% else %}
<p>There is no tax in this round.</p>
<p>Your profit will be: <b>Price &minus; Cost = Price &minus; {{ player.cost_or_value | fmtnum(pre="$", places=2) }}</b>.</p>
{% endif %}
{% endif %}
