{% extends "Base.html" %}
{% set buttons = False %}

{% block title %}
Please wait
{% endblock title %}


{% block main %}

<p>This page will proceed automatically once we’re all ready.</p>

<p class="mt-5"><i>Experimenters</i>: Select player(s) on the session dashboard, click “Manage players,” then use “Advance by one page.” (This page cannot be left otherwise, not even by submitting the underlying <code>&lt;form&gt;</code> through your browser’s web development tools.)</p>

{% endblock main %}
