{% extends "Base.html" %}

{% block title %}
Guessing Game
{% endblock title %}


{% block main %}

<p>In this task, you can win a bonus of <b>$100</b> if you correctly guess the outcome of a six-sided die roll.</p>

<p>On the next screen, you will be asked to <b>think of a number</b> between 1 and 6 that you believe the die will show. Your guess is completely private &mdash; it will <b>not</b> be written down or recorded in any way. It is impossible for anyone, including the researchers, to know what number you thought of.</p>

<p>After that, you will roll an electronic die on screen. You will then report the number you saw and state whether it was the number you had in mind.</p>

<p>If you guessed correctly, you will be eligible for a bonus payment of $100.</p>

{% endblock main %}
