{% extends "Base.html" %}

{% block title %}
Group assignment
{% endblock title %}


{% block main %}

<p>You are <strong>{{ player.name }}</strong>.</p>

{% if player.group %}
<p>Your group: <strong>{{ player.group.name }}</strong></p>

<p>Members of your group (sorted alphabetically):</p>
<ul>
{% for p in player.group.players | sort(attribute='name') %}
    <li>{{ p.name }}{% if p.name == player.name %} (you){% endif %}</li>
{% endfor %}
</ul>
{% else %}
<p>You are not in a group.</p>
{% endif %}

{% endblock main %}
