{% extends "Base.html" %}


{% block head %}

<script>
    decimal_range_field_no_anchoring2Formatter = (value) => {
        // Functions like these allow you to format values shown about and from sliders.

        if (value < 0) {
            return `−₮${(-value).toFixed(2)}`;
        }
        else {
            return `₮${value.toFixed(2)}`;
        }
    };
</script>

{% endblock head %}

{% block title %}

Input fields based on fields provided by uproot

{% endblock title %}


{% block main %}

{{ fields() }}

<p class="fw-bold">Example of a “Likert matrix”:</p>

{{ likert_matrix(form.likert_field_2, form.likert_field_3, form.likert_field_4, form.likert_field_5) }}


{% endblock main %}
